.topmenu
    display block
    clearfix()
    ul
        clearfix()
        
        li
            float left
            margin-right 20px
            position relative
            line-height 41px
            display inline-block
            border-top 5px solid #fff
            &:hover
                border-top 5px solid MAIN_COLOR
            
        a
            font-family fonttxt
            color FONT_COLOR
            line-height 43px
            text-transform uppercase
            font-size BASE_SIZE
            font-size 14px
            display inline-block
            font-weight 600
            margin-top 10px