mixin topmenu(data)
    

    .topmenu
        ul
        
            li
                a Об издательстве
                    
            li
                a Новости
                                
            li
                a Наши издания
                                            
            li
                a Подписка
                                               
            li
                a Конкурсы
                                                                                
            li
                a Магазин
                                                                                            
            li
                a Контакты
            