// Common styles of the project

html, body
    height 100%
    margin 0
    padding 0

    
    
    
body
    font-size BASE_SIZE
    color FONT_COLOR
    line-height LINE_HEIGHT
    box-sizing border-box


.page
    // Стили для body

section,
header,
nav
    clearfix()
    
a
    cursor pointer
    
ul
    list-style-type none
    margin 0
    padding 0
    
    
.page__wrapper
    float-w(100%)
    overflow hidden
    
.content
    position relative
    margin 0 auto
    display block
    max-width WRAPPER_WIDTH
    min-width 300px
    overflow hidden
    clearfix()
    

.content-wrap
    
    
    
    

* html .page__wrapper
    height 100%

.page__buffer
    height 50px
    float-w(100%)
    
    
    
    
    
h1,
h2,
h3,
h4,
h5,
h6 
    display block
    text-align center
    font-weight 700
    color coltxt
    text-align center
    
h1 
    font-size 28px
    margin 20px 0
    
h2
    font-size 24px
    
.italic
    font-style italic
    

.hov-r
    position absolute
    display block
    width 100%
    height 100%
    top 0px
    left 0px
    z-index: 9999;

.hov-r::after
    display: block;
    content: "";
    position: absolute;
    z-index: 10;
    transition: all .2s ease-in-out;
    top: -29px;
    right: -29px;
    bottom: -29px;
    left: -29px;
    pointer-events: none;
    border: 28px solid colfirm;

.hov-r:hover:after
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
        
    
    
    
    