// Common styles of the project

html, body
    height 100%
    margin 0
    padding 0

    
    
    
body
    font-size BASE_SIZE
    color FONT_COLOR
    line-height LINE_HEIGHT
    box-sizing border-box


.page
    // Стили для body

section,
header,
nav
    float-w(100%)
    
a
    cursor pointer
    
ul
    list-style-type none
    margin 0
    padding 0
    
    
.page__wrapper
    float-w(100%)
    overflow hidden
    
.content
    position relative
    margin 0 auto
    display block
    max-width WRAPPER_WIDTH
    min-width 300px
    overflow hidden
    clearfix()
    

.content-wrap
    float-w(100%)
    
    
    
    

* html .page__wrapper
    height 100%

.page__buffer
    height 50px
    float-w(100%)