
.video-block
    position relative
    display block
    margin 30px 0
    overflow: hidden;
    clearfix()
    height 740px
   
    
    h2
        color #fff
        margin 25px 10px
        font-size 56px
        letter-spacing 2px
        font-weight 300
        
    
    &_body-video
        position relative
        float-w(120%)
        margin-left -10%
        overflow hidden
        

    &_video
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        width: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%); 
        background-size: cover;
        transition: 1s opacity;
        z-index 98
        
    &__video-info
        text-align center
        
    &__video-info
        abs(table,100%,100%,0px,0px)
        
        
    &_description
        font-size 14px
        text-transform uppercase
        background colfirm
        color #fff
        padding 18px 32px
        display inline-block
        
            
        
        
    

    

  